@charset "UTF-8";

/* 
     em HTML é id    = em CSS é # (só pode um elemento)
     em HTML é class = em CSS é . (pode vários elementos)
*/
body{
    background-color: rgb(130, 233, 233);
    font-family: 'Arial Narrow Bold', sans-serif;
}

h1{
    color: blueviolet;
}

h1#principal{
text-align: center;
font-size: 40px;
background-color: blueviolet;
color: white;
}

h2{
    color: rgb(40, 15, 63);
}

.basico {
color: green;
}

.intermediario {
color: rgb(189, 189, 3);
}

.avancado {
color: red;
}