@charset "UTF-8"; /*caso haja problemas com acentuação*/

body{
    text-align: center;
    background-color: rgb(183, 0, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color:rgb(0, 238, 255);
    background-color: rgb(19, 65, 66);
}
h2{
    color:rgb(21, 253, 0)
}

p{
    text-align: justify;
}